<h1>Project Dashboard</h1>

<div class="project" ng-repeat="p in projects">
  <h2>{{p.name}} <button ng-click="rmProject(p)">X</button></h2>

  <h3>Deps</h3>
  <ul>
    <li ng-repeat="d in p.deps">
      {{d}} <button ng-click="rmProjectDep(p, d)">X</button>
    </li>
  </ul>
  <form ng-submit="addDep(p)">
    Add a dep:  <input size="80" ng-model="p.newdep"/>
  </form>

  <h3>Hooks</h3>
  <ul>
    <li ng-repeat="h in p.hooks">
      {{h}} <button ng-click="rmProjectHook(p, h)">X</button>
    </li>
  </ul>
  <form ng-submit="addHook(p)">
    Add a hook:  <input size="80" ng-model="p.newhook"/>
  </form>
</div>

<hr/>

<h2>New Project</h2>

<form ng-submit="newProject()">
  <label>Name: <input name="name" ng-model="newname" /></label><br/>
  <label>Deps (space separated): <input name="deps" size="80" ng-model="newdeps" ng-list="/ /"/></label><br/>
  <label>Hooks (space separated): <input name="hooks" size="80" ng-model="newhooks" ng-list="/ /"/></label><br/>
  <input type="submit" value="Save" />
</form>
