<h1>Project Dashboard</h1>

<div class="project" ng-repeat="p in projects.list">
  <h2>{{p.name}} <button ng-click="projects.rm(p)">X</button></h2>

  <h3>
    Group: <select ng-model="p.Group" name="group"
                   ng-change="projects.update(p)"
                   ng-options="g.Key as g.name for g in groups.list">
      <option value="">-none-</option>
      <select>
  </h3>

  <h3>Deps</h3>
  <ul>
    <li ng-repeat="d in p.deps">
      {{d}} <button ng-click="projects.rmDep(p, d)">X</button>
    </li>
  </ul>
  <form ng-submit="addDep(p)">
    Add a dep:  <input size="80" ng-model="p.newdep"/>
  </form>

  <h3>Hooks</h3>
  <ul>
    <li ng-repeat="h in p.hooks">
      {{h}} <button ng-click="projects.rmHook(p, h)">X</button>
    </li>
  </ul>
  <form ng-submit="addHook(p)">
    Add a hook:  <input size="80" ng-model="p.newhook"/>
  </form>
</div>

<hr/>

<h2>New Project</h2>

<form ng-submit="newProject()">
  <label>Name: <input name="name" ng-model="newname" /></label>
  Group: <select ng-model="newgroup" name="group"
                 ng-options="g.Key as g.name for g in groups.list">
    <option value="">-none-</option>
    <select>
  <br/>
  <label>Deps (space separated): <input name="deps" size="80" ng-model="newdeps" ng-list="/ /"/></label><br/>
  <label>Hooks (space separated): <input name="hooks" size="80" ng-model="newhooks" ng-list="/ /"/></label><br/>
  <input type="submit" value="Save" />
</form>

<hr/>

<div ng-controller="GroupCtrl">
  <h2>Groups</h2>

  <div class="group" ng-repeat="g in groups.list">
    <h3>{{g.name}}  <button ng-click="rmGroup(g)">X</button></h3>
    <ul>
      <li ng-repeat="e in g.members">
        {{e}}
        <button ng-click="groups.rmMember(g, e)">X</button>
      </li>
    </ul>
    <form ng-submit="addGroupMember(g)">
      Add a member to {{g.name}}:  <input size="80" ng-model="g.newMember"/>
    </form>
  </div>

  <h2>New Group</h2>

  <form ng-submit="newGroup()">
    <label>New Group: <input name="name" ng-model="newGroupName" /></label>
    <input type="submit" value="Create" />
  </form>
</div>
