<html lang="en" ng-app="gadzooks">
  <head>
    <title>Gadzooks</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css"
          type="text/css">
    <link rel="stylesheet" href="/static/stylesheets/print.css"
          type="text/css" media="print" />

  </head>

  <body ng-controller="DashboardCtrl">

    <div ng-view></div>

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/lib/lodash.min.js"></script>
    <script src="/static/js/gadzooks.js"></script>
  </body>
</html>
